.App{
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1600px) {
  .App{
    width: 1400px;
  }
}
@media screen and (max-width: 1600px) {
  .App{
    width: 1200px;
  }
}
@media screen and (max-width: 1400px) {
  .App{
    width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  .App{
    width: 100%;
  }
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App nav{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  padding: 20px 0px;
  padding-top: 40px;
  background: white;
}
@media screen and (max-width: 1000px){
  .App nav{
    padding: 20px 40px;
    display: grid;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  .App nav .group{
    display: none;
  }
}

nav ul{
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
  align-items: center;
}
nav ul li{
  list-style: none;
}
li:hover .link{
  color: var(--primary);
  text-decoration: underline;
}
.logo{
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
}
.App .hero{
  position: relative;
  height: 100vh;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-100px);
}
.hero .info{
  padding-top:40px;
  max-width: 550px;
  display: grid;
  gap: var(--gap);
}
.hero-contact input{
  margin-right: 10px;
  width: 50%;
}
.hero .hero-img{
  max-width: 600px;
}

@media screen and (min-width: 1600px) {
  .hero .hero-img{
    width: 550px;
  }
}
@media screen and (max-width: 1600px) {
  .hero .hero-img{
    width: 460px;
  }
}
@media screen and (max-width: 1400px) {
  .hero .hero-img{
    width: 400px;
  }
  .hero .info{
    max-width: 500px;
  }
}
@media screen and (max-width: 1100px) {
  .hero .info{
    padding-top: 0px;
  }
  .App .hero{
    grid-auto-flow: row;
    justify-content: center;
    transform: translateY(0px);
    min-height: 600px;
    padding: 0;
  }
  .hero .info{
    max-width: 400px;
    gap: 30px;
    justify-content: center;
  }
  .hero .info h1{
    text-align: center;
  }
  .hero .info .txt{
    text-align: center;
  }
  .hero .info .hero-contact{
    display: flex;
    justify-content: center;
  }
  .hero .hero-img{
    display: none;
  }
}


.notice{
  position: absolute;
  bottom: -80px;
  left: calc(-2000px + 814px);
  border: 2px solid var(--primary);
  padding: 40px 80px;
  padding-left: 0;
  /* height: 200px; */
  /* transform: translateY(25%); */
  border-left: none;
  border-top-right-radius: 111px;
  border-bottom-right-radius: 111px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 2000px;
  z-index: 999;
  background: white;
}
.notice-img{
  width: 140px;
  height: 140px;
  border-radius: 40px;
  border: 2px dashed var(--primary);
  /* background: var(--primary3); */
}
.notice-desc{
  margin-left: 40px;
  max-width:550px; 
  display: grid;
  gap: 16px;
}
.notice-section{
  display: none;
  position: relative;
  padding: 60px 20px;
  border-bottom: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
}
.notice-section .notice-desc{
  background: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notice-section .notice-desc p{
  margin: 20px 0;
}
@media screen and (max-width: 1100px) {
  .notice{
    display: none;
  }
  .notice-section{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .notice-desc{
    margin:0;
  }
  .notice-desc > *{
    text-align: center;
  }
}
.App .services{
  min-height: 100vh;
  position: relative;
}

.sec-desc{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.sec-desc > *{
  text-align: center;
}
.sec-desc h1{
  margin-bottom: var(--gap);
}
.sec-desc p{
  max-width: 550px;
}
.tabs-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow-tabs{
  min-width: 650px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideshow-tabs li{
  list-style: none;
  transition: all ease-out 200ms;
}
.active-tab{
  color: var(--primary);
  list-style: disc !important;
  transition: all 1000 ease-out;
  font-size: 1.1em;
}
.inactive-tab{
  transition: all 50 ease-out;
}
.inactive-tab:hover{
  transform: scaleX(1.1);
}
.content-container{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  z-index: 999;
}
.content-desc{
  max-width: 550px;
}
.content-desc p{
  margin-top: 15px;
}
.content-desc > *{
}
.service-img-container{
  margin: 0 auto;
  z-index: 999;
}
.service-img{
  width:200px;
}
.service-img:hover{
  transform: translateY(-5px);
}

.service-card-container{
  background-color: white;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card{
  z-index: 999;
  background-color: white;
  border: 2px solid var(--primary);
  border-radius: 40px;
  margin:  0 60px;
  margin-bottom: 40px;
  padding: 40px 50px;
  min-height: 250px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service-card > *{
  text-align: left;
}
.service-card p{
  margin-bottom: 15px;
  margin-top: 10px;
  flex-grow: 1;
}
.slide{
  background-color: white !important;
}

.pd{
  margin-top: calc(var(--gap) - 10px);
}
.project{
  min-height: 100vh;
}
.projects-list{
  margin-top: calc(var(--gap) - 10px);
  margin-left: 20px;
}
.projects-list li{
  padding-left: 10px;
  margin-bottom: 10px;
  line-height: 30px;
}
.project-img-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 500 ease-out;
}
.project-img{
  width: 550px;
}
.project-img-container:hover{
  transform: translateY(-5px);
}

.mobile-service-list{
  display: none;
}
.testimonials{
  padding-top: 100px;
  min-height: 100vh;
}
.rt-wrapper{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 80px;
}
.rt-attraction{
  width: 200px;
  text-align: center;
}
.rt-one{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}
.rt-min{
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
.rt-desc{
  margin-top: 20px;
}
@media screen and (max-width: 1400px) {
  .service-card p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content-container{
    align-items: center;
    justify-content: center;
  }
  .project-img{
    width: 450px;
  }
}
@media screen and (max-width: 1100px){
  .slideshow-tabs{
    display: flex;
    flex-flow: column;
    margin-top: 40px;
  }
  .slideshow-tabs li{
    margin-top: 20px;
  }
  .content-container{
    flex-flow: column;
  }
  .content-desc > *{
    text-align: center;
  }
  .content-desc p{
    margin-top: 20px;
  }
  .service-img-container{
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px){
  .service-card-container{
    display: none;
  }
  .mobile-service-list{
    display: grid;
    gap: 40px;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 60px;
  }
  .mobile-service-list .service-card{
    margin:0;
    padding: 50px 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-service-list .service-card p{
    margin-top: 15px;
    text-align: center;
  }
  .projects-list li{
    text-align: left;
  }
  .project-img{
    margin-top: 40px;
  }
}



@media screen and (max-width:600px){
  .App{
    width: 100% !important;
    position: relative;
    left:0;
  }
  .info{
    width:320px !important;
  }
  p{
    max-width: 320px !important;
  }
  .slideshow-tabs{
    min-width: 100% !important;
  }
  .content-desc div{
    max-width: 320px !important;
  }
  .rt-wrapper{
    grid-auto-flow: row;
    grid-gap: 20px;
  }
  .project-img{
    width: 300px;
  }
  .hero .hero-img{
    width: 300px;
  }
}